* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Avenir', 'Avenir Next', Helvetica, Arial, sans-serif;
    background-color: #FFF;
    font-size: 4vw;
    line-height: 6.5vw;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: 5vw;
}

p {
    margin-bottom: 5vw;

}

h1 {
    font-size: 5vw;
    font-weight: 700;
}

h2 {
    font-size: 3vw;
}

#article_section {
    height: 100%;
    color: black;
}

.article_wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.article {
    text-align: center;
    padding: 10vw;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.article_content {
    font-size: 4vw;
}

.settings-icon {
    position: absolute;
    width: 10vw;
    opacity: 0.7;
    z-index: 30;
    top: 4vw;
    right: 4vw;
    display: none;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 10;
    opacity: 0.9;
    display: none;
}

#settings_section {
    display: none;
    z-index: 20;
    position: absolute;
    padding: 10vw;
    width: 100%;
    height: 100%;
}

#settings_section h1 {
    text-align: center;
}

#settings_section form label {
    display: block;
    font-size: 4vw;
    margin-bottom: 3vw;
}

#settings_section .form-group {
    display: block;
    margin-bottom: 5vw;
}



input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 12vw;
    padding: 5vw;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 3vw;
}

.onoffswitch {
    position: relative; 
    width: 16.5vw;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    height: 10vw; 
    padding: 0; 
    line-height: 10vw;
    border: 2px solid #CCCCCC;
    border-radius: 10vw;
    background-color: #FFFFFF;
    transition: background-color 0.2s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; 
    width: 10vw; 
    margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 6vw;
    border: 2px solid #CCCCCC; 
    border-radius: 10vw;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.picker__frame {
     margin-bottom: 0 !important;
}

.picker__box {
    border-radius: 0 !important;
}

#introduction_section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 99;
}

.swiper-slide {
    overflow-y: scroll !important;
}

.swiper-container {
    height: 100%;
}

.swiper-slide-wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.swiper-slide-content {
    text-align: center;
    padding: 10vw;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.button {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    padding: 3vw;
    border: 0.5vw solid black;
    color: black;
    font-weight: 700;
    font-size: 3.5vw;
    width: 50vw;
    text-align: center;
}

.swiper-pagination-bullet-active {
    background: black !important;
}

.description-header {
    margin-bottom: 5vw;
}

.description-header .description-header-content {
    margin: 0 2vw;
}

.description-header .type-icon, .description-header .weeknumber-icon  {
    height: 5vw;
    vertical-align: middle;
}

.introduction-icon {
    height: 5vw;
    vertical-align: middle;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px; /* -1 * image width / 2 */
    margin-top: -20px;  /* -1 * image height / 2 */
    display: block;
}