* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Avenir', 'Avenir Next', Helvetica, Arial, sans-serif;
    background-color: #FFF;
    font-size: 4rem;
    line-height: 6.5rem;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: 5%;
}

p {
    margin-bottom: 5%;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
}

#article_section {
    height: 100%;
    color: black;
}

.article_wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.article_content {
    font-size: 4rem;
}

.settings-icon {
    position: absolute;
    width: 10%;
    opacity: 0.7;
    z-index: 30;
    top: 20px;
    right: 20px;
    display: none;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 10;
    opacity: 0.9;
    display: none;
}

#settings_section {
    display: none;
    z-index: 20;
    position: absolute;
    padding: 8%;
    width: 100%;
    height: 100%;
}

#settings_section h1 {
    text-align: center;
}

#settings_section form label {
    display: block;
    font-size: 4rem;
    margin-bottom: 3%;
}

#settings_section .form-group {
    display: block;
    margin-bottom: 6%;
}

input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 10%;
    padding: 5%;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 3rem;
}

.picker__frame {
     margin-bottom: 0 !important;
}

.picker__box {
    border-radius: 0 !important;
}

#introduction_section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 99;
}

.swiper-slide {
    overflow-y: scroll !important;
}

.swiper-container {
    height: 100%;
}

.swiper-slide-wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.swiper-slide-content {
    text-align: center;
    padding: 8%;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.button {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    padding: 4%;
    border: 2px solid black;
    color: black;
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
    width: 80%;
}

.swiper-pagination-bullet-active {
    background: black !important;
}

.introduction-icon {
    width: 5%;
    vertical-align: middle;
}

.description-header {
    margin-bottom: 5%;
}

.description-header .description-header-content {
    margin: 0 5%;
}

.description-header .type-icon, .description-header .weeknumber-icon  {
    width: 5%;
    vertical-align: middle;
}
